Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Bcrypt
Flask-JWT-Extended
psycopg2-binary
python-dotenv
Flask-Cors
Flask-Mail
Flask-Limiter
cloudinary

# ML / Image processing
tensorflow
numpy
pillow
opencv-python
huggingface_hub
# Production server
gunicorn
